.order_card{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border: 1px $border-extra-light solid;
    border-radius: 12px;
    padding: 24px 48px;
}

.order_card__item{
    p:nth-child(1){
        font-size: $p-medium-size;
        color: $text-tertiary-color;
    }

    p:nth-child(2){
        color: $text-primary-color;
        font-size: $secondary-text-color;
    }
}