.input {
  color: $text-primary-color;
  border: 1px $border-light solid;
  border-radius: 8px;
  padding: 12px;
  background-color: $invert-text-color;
  font-weight: 400;
  font-size: $secondary-text-size;

  &:focus {
    outline: $primary;
  }
}

.error {
  border: 1px red solid;
}
