.button {
  padding: 16px 32px;
  border-radius: 16px;
  font-size: $secondary-text-size;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    filter: grayscale(10%);
  }
}

.primary{
  background-color: $primary;
  color: $invert-text-color;
}

.outline {
  color: $secondary-text-color;
  border: 1px $border-light solid;
  background-color: $invert-text-color;

  &:hover {
    background-color: #f9fafb;
  }
}
