//Colors
$primary: #F4511E;

$title-text-color: #292929;
$secondary-text-color: #344051;
$body-primary-text-color: #535353;
$invert-text-color: #fff;

//Font sizes
$title-text-size: 20px;
$secondary-text-size: 16px;
$body-primary-text-size: 16px;