//Colors
$primary: #f4511e;
$border-light: #CED2DA;
$disabled: #F3F4F6;

$text-quartenery-color: #97A1AF;
$title-text-color: #292929;
$text-primary-color: #141c24;
$text-tertiary-color: #637083;
$secondary-text-color: #344051;
$body-primary-text-color: #535353;
$invert-text-color: #fff;

//Font sizes
$title-h2-text-size: 24px;
$title-h3-text-size: 20px;
$secondary-text-size: 16px;
$body-primary-text-size: 16px;
$body-primary-small-text-size: 14px;
$p-medium-size: 14px;
$p-regular-size: 12px;
