.auth_form {
  display: flex;
  flex-direction: column;
  width: 428px;
  row-gap: 24px;
}

.auth_form__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.auth_form__label {
  font-size: $p-medium-size;
  color: $text-primary-color;
}

.auth_form__resend_code{
  color: $text-quartenery-color;
	font-size: $p-medium-size;
	cursor: pointer;
  font-weight: 400;
  background-color: transparent;
  text-align: start;
}
