* {
	font-family: 'Inter';

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2, h3{
	margin: 0 0 10px 0;
}

p{
	margin: 0;
}